.css-subtitles-content{
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #1b809e;
    overflow: auto;
}
.css-subtitle {
    color: #31708f;
    font-weight: 600;
}

.css-subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.css-subtitle.active {
    color: black;
    text-decoration: none;
}
