.css-subtitles-content{
    padding: 20px;
    margin: 20px 0;
}

.css-subtitle-menuIcon {
    display: none;
}

.css-subtitle:hover .css-subtitle-menuIcon {
    display: block;
}

.css-subtitle {
    margin-bottom: 3px;
    position: relative;
}

.css-subtitle-menuIcon {
    color: #069;
    border-right: 1px solid #069;
    height: 100%;
    position: absolute;
    padding-right: 5px;
}

.css-subtitle-menuIcon:hover {
    color: black;
    cursor: pointer;
}

.css-subtitle-menuIcon:before {
    position: relative;
    top: calc(50% - 8px);
}

.css-subtitle-text {
    margin-left: 20px;
    display: inline-block;
}
