.css-subtitles-content{
    padding: 20px;
    margin: 20px 0;
}

.css-subtitle-menuIcon {
    display: none;
}

.css-subtitle:hover .css-subtitle-menuIcon {
    display: block;
}

.css-subtitle {
    margin-bottom: 3px;
    position: relative;
}

.css-subtitle-menuIcon {
    color: #069;
    /*background-color: #069;*/
    border: 1px solid #069;
    height: 100%;
    position: absolute;
}

.css-subtitle-menuIcon:hover {
    color: #fff;
    background-color: #069;
}

.css-subtitle-menuIcon:before {
    position: relative;
    top: calc(50% - 8px);
    left: 1px;
}

.css-subtitle-text {
    margin-left: 20px;
    display: inline-block;
}
