.css-video-player {
    width: 100%;
    display: none;
}

.css-video-content.active .css-video-player{
    display: block;
}

.css-video-content.active .css-video-controlPanel{
    display: block;
}
